# Introduction to Numpy

In this Jupyter notebook the courses cover a useful introduction about Numpy library

In [2]:
# load the library
import numpy as np

### **Creating arrays**

In [4]:
np.zeros(10)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [5]:
np.ones(8)

array([1., 1., 1., 1., 1., 1., 1., 1.])

In [6]:
np.full(10, 2.5)

array([2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5])

In [8]:
np.array([1, 3, 5, 7, 9])

array([1, 3, 5, 7, 9])

In [9]:
a = np.array([1, 3, 5, 7, 9])

In [11]:
# to access a specific element in the array
a[2]

5

In [12]:
a[2] = 20

In [13]:
a

array([ 1,  3, 20,  7,  9])

In [14]:
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [15]:
np.arange(3, 10)

array([3, 4, 5, 6, 7, 8, 9])

In [16]:
np.linspace(0, 1, 11)

array([0. , 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1. ])

In [20]:
np.linspace(0, 100, 11)

array([  0.,  10.,  20.,  30.,  40.,  50.,  60.,  70.,  80.,  90., 100.])

### **Multi-dimentional arrays**

In [22]:
np.zeros((5, 2)) # the first number is rows and the second is columns

array([[0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.]])

In [26]:
# we can also create a multidimensional array from two python lists
n = np.array([
    [1, 3, 5, 7],
    [2, 4, 6, 8],
    [1, 2, 3, 4]
])

In [34]:
# we can access any element in the array, just considering its position based on rows and columns
n[2,3] # row 2 (0, 1, 2) and column 3 (0, 1, 2, 3)

4

In [35]:
# we can update the value of any element in the array as well
n[0, 0] = 100
n

array([[100,   3,   5,   7],
       [  2,   4,   6,   8],
       [  1,   2,   3,   4]])

In [37]:
# to access and entire row
n[0]

array([100,   3,   5,   7])

In [41]:
# we can update the whole row
n[0] = [1, 1, 1, 1]
n

array([[1, 1, 1, 1],
       [2, 4, 6, 8],
       [1, 2, 3, 4]])

In [43]:
# to access a whole column
n[:, 1]

array([1, 4, 2])

In [45]:
# and likewise we can assign values to the whole column like this:
n[:,2] = np.zeros(3)
n

array([[1, 1, 0, 1],
       [2, 4, 0, 8],
       [1, 2, 0, 4]])

### **Randomly generated arrays**

In [49]:
# everytime I run the cell, the values change
np.random.rand(5, 2)

array([[0.91483692, 0.72142693],
       [0.49129487, 0.75514817],
       [0.6569674 , 0.49989093],
       [0.70337982, 0.0149055 ],
       [0.46565332, 0.05609467]])

In [52]:
# but if i want this to be reproducible
np.random.seed(2)
np.random.rand(5, 2)

array([[0.4359949 , 0.02592623],
       [0.54966248, 0.43532239],
       [0.4203678 , 0.33033482],
       [0.20464863, 0.61927097],
       [0.29965467, 0.26682728]])

In [53]:
# the las random values were generated based on a uniform distribution, but if we'd like to use a normal distribution we would use the following
np.random.seed(2)
np.random.randn(5, 2)

array([[-0.41675785, -0.05626683],
       [-2.1361961 ,  1.64027081],
       [-1.79343559, -0.84174737],
       [ 0.50288142, -1.24528809],
       [-1.05795222, -0.90900761]])

In [55]:
# We could also like to generate random integer numbers considering a range of numbers
np.random.seed(2)
np.random.randint(low=0, high=100, size=(5,2)) # the low number is included the high number dont

array([[40, 15],
       [72, 22],
       [43, 82],
       [75,  7],
       [34, 49]])

### Element-wise operations

Numpy makes it easy to apply operations to a whole array.

Instead of using a loop to, for example, add a number to each element of a list, in numpy you just apply the operation to the whole array like:

- a + 2
- a - 5
- a * 100
- a / 4

In [61]:
a = np.arange(5)
a

array([0, 1, 2, 3, 4])

In [62]:
a + 1

array([1, 2, 3, 4, 5])

In [64]:
# even with more complex operations
10 + (a * 2) ** 2

array([10, 14, 26, 46, 74])

You can even apply operations with different arrays

In [80]:
b = (a * 2) ** 2

In [76]:
a + b

array([0.  , 1.04, 2.16, 3.36, 4.64])

### Comparison operations

In [67]:
a

array([0, 1, 2, 3, 4])

In [77]:
a >= 2

array([False, False,  True,  True,  True])

In [81]:
b

array([ 0,  4, 16, 36, 64])

In [82]:
b > a

array([False,  True,  True,  True,  True])

In [84]:
a[b>a]

array([1, 2, 3, 4])

### Summarizing operations

With this operations, instead of getting an array back, we get a single number. These include:
- Min value
- Max value
- Sum value
- Mean value
- Std deviation value

In [85]:
a

array([0, 1, 2, 3, 4])

In [86]:
a.min()

0

In [87]:
a.max()

4

In [88]:
a.mean()

2.0

In [89]:
a.sum()

10